<?xml version="1.0" encoding="UTF-8"?><suite configfailurepolicy="continue" name="Suite" parallel="none"><test name="Test" preserve-order="true"><classes><class name="commonMethods.Testcases"/></classes><methods><include name="login" priority="1"/><include name="cluster" priority="2"/><include name="explore" priority="3"/><include name="amlTransformation" priority="4"/><include name="amlModel" priority="5"/><include name="amlPipeline" priority="6"/><include name="rblTransformationScenario" priority="7"/><include name="rblModel" priority="8"/><include name="rblPipeline" priority="9"/></methods></test><listeners><listener class-name="atu.testng.reports.listeners.ATUReportsListener"/><listener class-name="atu.testng.reports.listeners.ConfigurationListener"/><listener class-name="atu.testng.reports.listeners.MethodListener"/></listeners></suite>